// Mixins
@use "variables" as *;

// Mixin for centering element
// with margin-left: auto
// and margin-right: auto;
@mixin mc($img: false) {
    margin: {
        left: auto;
        right: auto;
    }
    @if($img == true){
        display: block;
    }
}

// Mixin for clearing out
// margins and padding and
// setting the line-height to 1 
// ...useful mainly on typographic elements
@mixin flatten($list: false) {
    margin: 0;
    padding: 0;
    line-height: 1;
    @if($list == true){
        list-style: none;
    }
}

// Visually hide an element but
// still make it accessible to 
// a screen reader
@mixin visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

// Clear margins
@mixin first-last-el-no-margin {
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

@mixin first-el-no-margin {
    > :first-child {
        margin-top: 0;
    }
}

@mixin last-el-no-margin {
    :last-child {
        margin-bottom: 0;
    }
}

// Mixin for setting foreground
// images to cover their container
// without distortion of the 
// image
// using object-fit cover
@mixin img-cover($abs-pos: true){
    @if($abs-pos){
        position: absolute;
        top: 0;
        left: 0;
    }
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

// Mixin for having an element
// sit on top of another and
// and cover the parent element
// completely
@mixin el-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Mixin to set links
// to not have their
// default look
@mixin plain-link($c: white){
    text-decoration: none;
    color: $c;
}

// Function to set text-color to
// a light colour or a dark
// colour depending on the 
// provided background color;
@function contrast-text-color($bgc, $ltc: white, $dtc: black){
    @if(lightness($bgc) > 50){
        @return $dtc; // lighter background
    } @else {
        @return $ltc; // darker background 
    }
}

// Layout Mixins

// Mixins for creating a flex row of
// and evenly spacing out the
// elements along the row
@mixin flex-layout-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Center elements in a flex
// container
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin grid($c: 2, $w: 1fr){
    display: grid;
    grid-template-columns: repeat($c, $w);
}

// Media Query Mixin
@mixin mq($w){
    @media (min-width: $w){
        @content;
    }
}

@mixin nav {    
    width: 15em;
    height: 100%; 
    padding: 30px 0px 30em 0px;
    padding-top: 10em;
    position: fixed;    
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
    padding-right: 4em;   
}

@mixin nav-small {    
    width: 10em;
    height: 100%; 
    padding: 30px 0px 30em 0px;
    position: fixed;    
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
    padding-right: 4em;   
}

@mixin nav-smallest {
    width: 7em;
    height: 100%; 
    padding: 30px 0px 30em 0px;
    padding-top: 17em;
    position: fixed;    
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5;
    padding-right: 2em;  
}

@mixin footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgb(49, 48, 48);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
    padding-right: 2em;
}

@mixin home {
    box-sizing: border-box;
    padding: 10rem 1rem;
    margin-left: 15rem;   
    position: relative;
    z-index: 5;
    display: block;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;   
}

@mixin home-small {
    box-sizing: border-box;
    padding: 10rem 1rem;
    margin-left: 10rem;   
    position: relative;
    z-index: 5;
    display: block;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;   
}

@mixin home-smallest {
    box-sizing: border-box;
    padding: 10rem 2rem;
    padding-left: 40px;
    margin-left: 5rem;   
    position: relative;
    z-index: 5;
    display: block;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;   
}

@mixin about {
    box-sizing: border-box;
    padding: 4em;
    margin-left: 25rem;
    position: relative;
    z-index: 5;    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;      
}

@mixin about-medium {
    box-sizing: border-box;
    padding: 4em;
    margin-left: 18rem;
    position: relative;
    z-index: 5;    
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
}

@mixin about-small {
    box-sizing: border-box;
    padding: 4em;
    margin-left: 18rem;
    position: relative;
    z-index: 5;    
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;        
}

@mixin cards-wrapper {
    height: 100vh;
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 18em;
    margin-right: 3em;
    margin-top: 8em;   
}
