@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.about-wrapper {
    @include about;
    height: 100vh;
    h1 {
        margin: 0;
    }    
    .headshot {
        width: 300px;                    
       
        
        
    }
    .description {
        width: 40%;        
    }
    .skill-container {
       
    }

}

