@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.about-wrapper {
    @include about;
   
    height: 100vh;
    h1 {
        margin: 0;
    }    
    .headshot {
        width: 300px;
        margin-top: 10px;                                          
    }
    .description {
        width: 40%;
        display: inline-block;
        padding-bottom: 50px;      
    }
    .skill-container { 
        p {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-around;
            align-items: center;            
        }     
    }

}
//Media query
@media only screen and (max-width: $desktopMedium) {
    .about-wrapper {     
        @include about-medium;
    }
  }
  @media only screen and (max-width: $tabletLandscape) {
    .about-wrapper {     
        @include about-small;

        .description {
            width: 100%;
            padding: 20px;       
        }
        .headshot {
            margin: 0 auto;
        }
    }    
  }
  @media only screen and (max-width: $tabletPortrait) {
    .about-wrapper {     
        margin-left: 10rem;
        .headshot {
            width: 200px;
            margin-top: 10px;                                          
        }
    }
  }

  @media only screen and (max-width: $smallPhone) {
    .about-wrapper {     
        margin-left: 8rem;      
    }
  }


