@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Fredoka:wght@300;400&family=Lato&family=Pacifico&display=swap');

html {
    background-color: rgb(92, 90, 90);   
}
.about {
    background-color: rgb(92, 90, 90);    
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;   
}

.about-wrapper {
    @include about;    
    min-height: 1450px;
    height: 100vh;
    font-family: 'Fredoka', sans-serif;
    min-height: 1200px;

 
    h1 {
        margin: 0;
        margin-bottom: 20px;
               
    }
    h1,h2 {
        color: $text-color-light;
        font-size: 3em;
        font-family: 'Cairo', sans-serif
    }
    p {
        color: $text-color-light;
        margin-top: 10px;
        font-family: 'Cairo', sans-serif;
        min-width: 130px;
    }   
    .headshot {
        width: 300px;
        margin-top: 4.5em;
        box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.41);
          
    }
    .description {
        width: 40%;
        display: inline-block;
        padding-bottom: 50px;     
    }
    .skill-container { 
        p {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;         
        }      
        grid-gap: 1rem;
        align-items: center;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin: 1rem 0 0;
        padding: 20px;       
    }

}
//Media query
@media only screen and (max-width: $desktopMedium) {
    .about-wrapper {     
        @include about-medium;
    }
  }
  @media only screen and (max-width: $tabletLandscape) {
    .about-wrapper {     
        @include about-small;

        .description {
            width: 100%;
            padding: 20px;       
        }
        .headshot {
            margin: 0 auto;
        }
    }    
  }

  @media only screen and (max-width: $tabletPortrait) {
    .about-wrapper {     
        margin-left: 6rem;
        .headshot {
            width: 200px;
            margin-top: 10px;                                          
        }
    }
  }

  @media only screen and (max-width: $smallPhone) {
    .about-wrapper {     
        padding-left: 10px;
        padding-right: 10px;    
    }
  }

  @media only screen and (min-width: 3000px) {
    .about-wrapper {     
        min-height: 1200px;     
    }
  }

  @media only screen and (max-width: 1636px) {
    .about-wrapper {     
        min-height: 1200px;     
    }
  }

  @media only screen and (max-width: 1375px) {
    .about-wrapper {     
        min-height: 1300px;     
    }
  }

  @media only screen and (max-width: 1093px) {
    .about-wrapper {     
        min-height: 1650px;     
    }
  }

  @media only screen and (max-width: 1036px) {
    .about-wrapper {     
        min-height: 1550px;     
    }
    .headshot {
        margin-top: 20px!important;
    }
  }

  @media only screen and (max-width: 871px) {
    .about-wrapper {     
        min-height: 1950px;     
    }
  }

  @media only screen and (max-width: 810px) {
    .about-wrapper {     
        min-height: 1800px;     
    }
  }

  @media only screen and (max-width: 562px) {
    .about-wrapper {     
        min-height: 2200px;     
    }
  }

  @media only screen and (max-width: 539px) {
    .about-wrapper {     
        min-height: 1900px;     
    }
  }

  @media only screen and (max-width: 480px) {
    .about-wrapper {     
        min-height: 1700px;       
    }
  }

  .html5-icon {
      color: orange;
  }

  .css-icon {
      color: royalblue;
  }

  .sass-icon {
      color: plum;
  }

  .js-icon {
      color: rgb(255, 217, 0);
  }

  .react-icon {
      color: #61DBFB;
  }

  .angular-icon {
      color: #dd1b16;
  }

  .sql-icon {
      color: rgb(53, 53, 223);
  }

  .aws-icon {
      color: orange;
  }





