@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.header-wrapper {    
    background-color: $nav-color;
    @include nav;   
    background-color: #1d1d1d;   
    color: $text-color-light;

    li {
        list-style: none;
    }
    a:link {
        text-decoration: none;
        color:white!important;
      }
      
      a:visited {
        text-decoration: none;
        color:white;
      }      
      a:hover {
        text-decoration: underline solid;
        transition: text-decoration 2s ease-out;
        text-decoration-thickness: 5px;      
        color: rgb(117, 116, 116);
        transition: 300ms ease-out;
              
      }           
      #initials {
          font-size: 70px;
          height: 4em;
          padding-left:0.5em;          
          margin: 0;         
      }
      #initials:hover {
        text-decoration: none;        
      }
     nav {
         font-size: 20px;
     }         
}
//Media queries
@media only screen and (max-width: $tabletPortrait) {
  .header-wrapper {
     @include nav-small;
  }
}

@media only screen and (max-width: 480px) {
  .header-wrapper {
     @include nav-smallest;
  }
}

