@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.projects {
    background-color: rgb(92, 90, 90);    
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    height: 100vh;
}

.cards-wrapper {  

    height: 100vh;
    font-family: "Fredoka", sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

