@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.projects-wrapper {
   
    margin: 0 auto;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    height: 100vh;
    min-height: 1250px;
    width: 100%;
    padding-bottom: 20px;
    a {
        color: $text-color-light;
        
    }
    a:nth-of-type(2n){       
        padding-left: 20px;
    }
    a:hover {
        color: rgb(116, 9, 255);
        transition: 300ms ease-out;
    }

    h1 {
        font-family: 'Cairo', sans-serif;
        padding-top: 1em;
    }    
    .fullscreen-img {        
        margin-top: 3em;
        max-width: 794px;
        width: 100%;
    }

    article {
        max-width: 794px;
     
    }

    .project-tech {
        display: flex;
        p{
            padding-top: 15px;
        }
        p:not(:first-child) {            
            padding-left: 20px;
        }
    }

    #employee-org-img {
        max-height: 447px;
    }
    .project-overview {
        p{
            border-left: 3px solid #5cb85c;
            padding: 10px;
        }

    }

    .project-features {
        ul {
            list-style: none;
            padding: 5px;                           
        }
        ul li:before {
            content: '✓';
            color: #5cb85c;           
        }
    }
}

#pj {
    padding-top: 0;
    height: 1300px;
}



//Media queries
@media only screen and (min-width: 3000px) {
    .projects-wrapper {
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        position: relative;
        height: 100vh;
        min-height: 1250px;
        width: 100%;
        padding-bottom: 20px;              
    }
}


@media only screen and (max-width: 1280px) {
    .projects-wrapper {
       
       
       padding-right: 40px;
    }
}

@media only screen and (max-width: 1168px) {
    .projects-wrapper {
      
        margin-left: 40px;
       padding-right: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .projects-wrapper {
       
        margin-left: 20px;
        padding-right: 40px;
    }
}

@media only screen and (max-width: 446px) {
    .projects-wrapper {
     
        margin-top: 30px;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        position: relative;
        height: 100vh;
        min-height: 1250px;
        width: 100%;
        padding-bottom: 100px;
    }

   
    .project-tech {
        align-content: center;
        justify-content: space-evenly;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 30px;        
    }
    #wv {
        height: 1300px;
    }
    #pj {
        padding-top: 0;
        height: 2300px;
    }
    #ps {
        height: 1350px;
    }
}

@media only screen and (min-width: 540px) {
    #phone-img{
        display: none;
        min-width: 100%;
    }    
}

@media only screen and (max-width: 540px) {
    #full-screen{
        display: none;
    }
    #pj {
        padding-top: 0;
        height: 1700px;
    }

    .projects-wrapper { 
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        position: relative;
        height: 100vh;
        min-height: 1250px;
        width: 100%;
        margin-bottom: 50px;
        padding: 20px;
    }

    .projects-header {
        text-align: center;
    }
    #movie-mania {
        height: 1400px;
    }
    #pt-mm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        align-items: center;
    }
}