@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.projects-wrapper {
    background-color: rgb(92, 90, 90);    
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0 auto;
    padding-left: 12em;
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding-top: 1.2em;   
    height: 100vh;
    min-height: 1250px;
    width: 100%;
    a {
        color: $text-color-light;
        
    }
    a:nth-of-type(2n){       
        padding-left: 20px;
    }
    a:hover {
        color: rgb(116, 9, 255);
        transition: 300ms ease-out;
    }

    h1 {
        font-family: 'Cairo', sans-serif;
        padding-top: 1em;
    }    
    .fullscreen-img {        
        margin-top: 3em;
        max-width: 794px;
        width: 100%;
    }

    article {
        max-width: 794px;
    }

    .project-tech {
        display: flex;
        p{
            padding-top: 15px;
        }
        p:not(:first-child) {            
            padding-left: 20px;
        }
    }

    #employee-org-img {
        max-height: 447px;
    }
}

//Media queries
@media only screen and (max-width: 1168px) {
    .projects-wrapper {
        padding-left: 15em;
        margin-left: 40px;
       padding-right: 40px;
    }
}

@media only screen and (max-width: 750px) {
    .projects-wrapper {
        padding-left: 10em;
        margin-left: 40px;
        padding-right: 60px;
    }
}

@media only screen and (max-width: 446px) {
    .projects-wrapper {
        padding-left: 8em;
        margin-left: 40px;
        padding-right: 60px;
    }
    .project-tech {
        align-content: center;
        justify-content: space-evenly;
        display: flex;
        align-items: baseline;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 30px;        
    }
}

@media only screen and (min-width: 540px) {
    #phone-img{
        display: none;
        min-width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    #full-screen{
        display: none;
    }
}